.nose {
    position: absolute;
    transform: scale(.2);
    top: 20px;
    left: 0;
}

.nostril {
    position: absolute;
    top: 81px;
    opacity: .6;
}

.right-nostril {
    left: 5px;
}

.left-nostril {
    left: -10px;
}
